<form action="/questions" method="post">
  <label for="title"></label>
  <input type="text" name="question[title]">
  <input name="question[body]">
  <label for="tags"></label>
  <input type="text" name="tags">

  <input type="submit" value="Post your Question">
</form>