<!-- expecting this form to be called as a partial from  -->

<form action="/questions" method="post">
  <label for="title">Title: </label>
  <input type="text" name="question[title]">
  <input name="question[body]" placeholder="enter text here">
  <label for="tags">Tag:</label>
  <input type="text" name="tags">

  <input type="submit" value="Post your Question">
</form>
