<nav class="main-nav">
  <a href="https://stackexchange.com/"><img src="/images/stack-exchange-icon.png"></a>
  <div class="nav-links">
    <a href="/">sign up</a>
    <a href="/">log in</a>
    <a href="/">tour</a>
    <a href="/">help</a>
    <a href="/">stack overflow careers</a>
  </div>

  <form>
    <input type="text" name="search" placeholder="search">
  </form>
</nav>

<div class="container">
  <div id="header">
    <img src="/images/stack-overflow-logo.png">
    <div id="header-links">
      <a href="/">Questions</a>
      <a href="/">Tags</a>
      <a href="/">Users</a>
      <a href="/">Badges</a>
      <a href="/">Unanswered</a>
      <a href="/">Ask Question</a>
    </div>
  </div>

  <ul class="tabs">
    <li><a href="/login">Log in</a></li>
    <li class="active"><a href="/users/new">Sign up</a></li>
  </ul>

  <div id="confirm box">
    <p>Registration email sent to nicolecarpenterusa@gmail.com. Open this email to finish signup.</p>

    <p>If you don't see this email in your inbox within 15 minutes, look for it in your junk mail folder. If you find it there, please mark the email as "Not Junk".</p>
  </div>
</div>