<nav class="auth">
  <a class="auth" href="/">Back to Stack Overflow</a>
</nav>

<div class="container">

  <img src="/images/stack_exchange_logo.png" alt="Stack Exchange">

  <h2>A network of 148 Q&amp;A communities</h2>

    <p>Sign up to continue to <img src="stack-overbro-logo.png" alt="Stack Overbro"> Stack Overflow</p>

  <div id="form-container">
    <div id="social-login-buttons">
      <img src="/images/sign-in-with-google.png" alt="Sign in with Google">
      <img src="/images/sign-in-with-facebook.png" alt="Sign in with Facebook">
    </div>

    <p id="or">OR</p>

    <form class="auth" method="post" action="/users">
      <label for="display_name">Display Name</label>
      <input id="display_name" type="text" name="user[display_name]">
      <br>

      <label for="email">Email (required, but never shown)</label>
      <input id="email" type="text" name="user[email]">
      <br>

      <label for="password">Password</label>
      <input id="password" type="password" name="user[password]">
      <br>

      <a id="signup-options" href="/">more login options</a>

      <input id="register-button" type="submit" name="register" value="Sign up">
      <br>

      <p id="terms">By registering, you agree to the <a id="signup-options" href="/">privacy policy</a> and <a id="signup-options" href="/">terms of service</a>.
    </form>
  </div>

  <div id="change">
    <p id="terms">Already have an account? <a id="signup-options" href="/login">Log in</a></p>
  </div>

</div>

<div class="site-links">
  <a href="/">tour</a>
  <a href="/">blog</a>
  <a href="/">chat</a>
  <a href="/">data</a>
  <a href="/">legal</a>
  <a href="/">privacy</a>
  <a href="/">policy</a>
  <a href="/">work here</a>
  <a href="/">advertising</a>
  <a href="/">info</a>
  <a href="/">mobile</a>
  <a id="contact-links" href="/">contact us</a>
  <a id="contact-links" href="/">feedback</a>
</div>

<div class="legal">
  <p>site design / logo © 2015 Stack Exchange Inc; user contributions licensed under cc by-sa 3.0 with attribution required</p>
  <p>rev 2015.9.15.2824</p>
</div>
