<!DOCTYPE html>
<html lang="en">

<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>

<body>
  <%= yield %>
  <div class="footer">
    <div class="site-links">
      <a href="/">tour</a>
      <a href="/">blog</a>
      <a href="/">chat</a>
      <a href="/">data</a>
      <a href="/">legal</a>
      <a href="/">privacy</a>
      <a href="/">policy</a>
      <a href="/">work here</a>
      <a href="/">advertising</a>
      <a href="/">info</a>
      <a href="/">mobile</a>
      <a id="contact-links" href="/">contact us</a>
      <a id="contact-links" href="/">feedback</a>
    </div>

    <table class="footer-table">
      <th>TECHNOLOGY</th>
      <th></th>
      <th></th>
      <th>LIFE/ARTS</th>
      <th>CULTURE/RECREATION</th>
      <th>SCIENCE</th>
      <th>OTHER</th>

      <tr>
        <td><a class="footer-link" href="/">technology</a></td>
        <td><a class="footer-link" href="/">technology</a></td>
        <td><a class="footer-link" href="/">technology</a></td>
        <td><a class="footer-link" href="/">life/arts</a></td>
        <td><a class="footer-link" href="/">culture/recreation</a></td>
        <td><a class="footer-link" href="/">science</a></td>
        <td><a class="footer-link" href="/">other</a></td>
        <td><a class="footer-link" href="/"></a></td>
        <td><a class="footer-link" href="/"></a></td>
      </tr>

      <tr>
        <td><a class="footer-link" href="/">technology</a></td>
        <td><a class="footer-link" href="/">technology</a></td>
        <td><a class="footer-link" href="/">technology</a></td>
        <td><a class="footer-link" href="/">life/arts</a></td>
        <td><a class="footer-link" href="/">culture/recreation</a></td>
        <td><a class="footer-link" href="/">science</a></td>
        <td><a class="footer-link" href="/">other</a></td>
        <td><a class="footer-link" href="/"></a></td>
        <td><a class="footer-link" href="/"></a></td>
      </tr>

      <tr>
        <td><a class="footer-link" href="/">technology</a></td>
        <td><a class="footer-link" href="/">technology</a></td>
        <td><a class="footer-link" href="/">technology</a></td>
        <td><a class="footer-link" href="/">life/arts</a></td>
        <td><a class="footer-link" href="/">culture/recreation</a></td>
        <td><a class="footer-link" href="/">science</a></td>
        <td><a class="footer-link" href="/">other</a></td>
        <td><a class="footer-link" href="/"></a></td>
        <td><a class="footer-link" href="/"></a></td>
      </tr>

      <tr>
        <td><a class="footer-link" href="/">technology</a></td>
        <td><a class="footer-link" href="/">technology</a></td>
        <td><a class="footer-link" href="/">technology</a></td>
        <td><a class="footer-link" href="/">life/arts</a></td>
        <td><a class="footer-link" href="/">culture/recreation</a></td>
        <td><a class="footer-link" href="/">science</a></td>
        <td><a class="footer-link" href="/">other</a></td>
        <td><a class="footer-link" href="/"></a></td>
        <td><a class="footer-link" href="/"></a></td>
      </tr>

      <tr>
        <td><a class="footer-link" href="/">technology</a></td>
        <td><a class="footer-link" href="/">technology</a></td>
        <td><a class="footer-link" href="/">technology</a></td>
        <td><a class="footer-link" href="/">life/arts</a></td>
        <td><a class="footer-link" href="/">culture/recreation</a></td>
        <td><a class="footer-link" href="/">science</a></td>
        <td><a class="footer-link" href="/"></a></td>
        <td><a class="footer-link" href="/"></a></td>
        <td><a class="footer-link" href="/"></a></td>
      </tr>

      <tr>
        <td><a class="footer-link" href="/">technology</a></td>
        <td><a class="footer-link" href="/">technology</a></td>
        <td><a class="footer-link" href="/">technology</a></td>
        <td><a class="footer-link" href="/">life/arts</a></td>
        <td><a class="footer-link" href="/">culture/recreation</a></td>
        <td><a class="footer-link" href="/">science</a></td>
        <td><a class="footer-link" href="/"></a></td>
        <td><a class="footer-link" href="/"></a></td>
        <td><a class="footer-link" href="/"></a></td>
      </tr>

      <tr>
        <td><a class="footer-link" href="/">technology</a></td>
        <td><a class="footer-link" href="/">technology</a></td>
        <td><a class="footer-link" href="/">technology</a></td>
        <td><a class="footer-link" href="/">life/arts</a></td>
        <td><a class="footer-link" href="/">culture/recreation</a></td>
        <td><a class="footer-link" href="/">science</a></td>
        <td><a class="footer-link" href="/"></a></td>
        <td><a class="footer-link" href="/"></a></td>
        <td><a class="footer-link" href="/"></a></td>
      </tr>

    </table>

    <div class="legal">
      <p>site design / logo © 2015 Stack Exchange Inc; user contributions licensed under cc by-sa 3.0 with attribution required</p>
      <p>rev 2015.9.15.2824</p>
    </div>
  </div>
</body>
</html>
