<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <%= yield %>
  <div class="footer">
    <div class="site-links">
      <a href="/">tour</a>
      <a href="/">blog</a>
      <a href="/">chat</a>
      <a href="/">data</a>
      <a href="/">legal</a>
      <a href="/">privacy</a>
      <a href="/">policy</a>
      <a href="/">work here</a>
      <a href="/">advertising</a>
      <a href="/">info</a>
      <a href="/">mobile</a>
      <a id="contact-links" href="/">contact us</a>
      <a id="contact-links" href="/">feedback</a>
    </div>

    <table class="footer-table">
      <th>TECHNOLOGY</th>
      <tr>
        <td>Stack Overflow</td>
        <td>Server Fault</td>
        <td>Super User</td>
        <td>Web Applications</td>
        <td>Ask Ubuntu</td>
        <td>Webmasters</td>
        <td>Game Development</td>
        <td>TeX - LaTeX</td>
        <td></td>
        <td></td>
      </tr>
      <th></th>
      <tr>
        <td>Programmers</td>
        <td>Unix &amp; Linux</td>
        <td>Ask Different (Apple)</td>
        <td>WordPress Development</td>
        <td>Geographic Information Systems</td>
        <td>Electrical Engineering</td>
        <td>Android Enthusiasts</td>
        <td>Information Security</td>
        <td></td>
        <td></td>
      </tr>
      <th></th>
      <tr>
        <td>Database Administrators</td>
        <td>Drupal Answers</td>
        <td>SharePoint</td>
        <td>User Experience</td>
        <td>Mathematica</td>
        <td>Salesforce</td>
        <td>ExpressionEngine® Answers</td>
        <td>more (13)</td>
        <td></td>
        <td></td>
      </tr>
      <th>LIFE/ARTS</th>
      <tr>
        <td>Photography</td>
        <td>Science Fiction &amp;tasy</td>
        <td>Graphic Design</td>
        <td>Movies &amp;/td>
        <td>Seasoned Advice (cooking)</td>
        <td>Home Improvement</td>
        <td>Personal Finance &amp;ey</td>
        <td>Academia</td>
        <td>more (9)</td>
        <td></td>
      </tr>
      <th>CULTURE/RECREATION</th>
      <tr>
        <td>English Language &amp;ge</td>
        <td>Skeptics</td>
        <td>Mi Yodeya (Judaism)</td>
        <td>Travel</td>
        <td>Christianity</td>
        <td>Arqade (gaming)</td>
        <td>Bicycles</td>
        <td>Role-playing Games</td>
        <td>more (21)</td>
        <td></td>
      </tr>
      <th>SCIENCE</th>
      <tr>
        <td>Mathematics</td>
        <td>Cross Validated (stats)</td>
        <td>Theoretical Computer Science</td>
        <td>Physics</td>
        <td>MathOverflow</td>
        <td>Chemistry</td>
        <td>Biology</td>
        <td>more (5)</td>
        <td></td>
        <td></td>
      </tr>
      <th>OTHER</th>
      <tr>
        <td>Stack Apps</td>
        <td>Meta Stack Exchange</td>
        <td>Area 51</td>
        <td>Stack Overflow Careers</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

    </table>

    <div class="legal">
      <p>site design / logo © 2015 Stack Exchange Inc; user contributions licensed under cc by-sa 3.0 with attribution required</p>
      <p>rev 2015.9.15.2824</p>
    </div>
  </div>
</body>
</html>
