<nav>
  <a class="auth-nav" href="/">Back to Stack Overflow</a>
</nav>

<div class="container">

  <img src="images/stack_exchange_logo.png" alt="Stack Exchange">

  <h2>A network of 148 Q&amp;A communities</h2>

    <p>Log in to continue to <img src="stack-overbro-logo.png" alt="Stack Overbro"> Stack Overflow</p>

  <div id="form-container">
    <div id="social-login-buttons">
      <img src="sign-in-with-google.png" alt="Sign in with Google">
      <img src="sign-in-with-facebook.png" alt="Sign in with Facebook">
    </div>

    <p id="or">OR</p>

    <form class="new_registration" method="post" action="/users"><label for="email">Email (required, but never shown)</label>
      <input type="text" name="user[email]">
      <br>

      <label for="password">Password</label>
      <input type="password" name="user[password]">
      <br>

      <label for="conrirm_password">Confirm Password</label>
      <input type="confirm_password" name="user[confirm_password]">
      <br>

      <a id="signup-options" href="/">forgot password?</a>

      <a id="signup-options" href="/">more sign up options</a>

      <input type="submit" name="login" value="Log in">
    </form>
  </div>

  <div id="change">
    <p id="terms">Don't have an account? <a id="signup-options" href="/">Sign up</a></p>
  </div>

</div>

<div class="site-links">
  <a href="/">tour</a>
  <a href="/">blog</a>
  <a href="/">chat</a>
  <a href="/">data</a>
  <a href="/">legal</a>
  <a href="/">privacy</a>
  <a href="/">policy</a>
  <a href="/">work here</a>
  <a href="/">advertising</a>
  <a href="/">info</a>
  <a href="/">mobile</a>
  <a id="contact-links" href="/">contact us</a>
  <a id="contact-links" href="/">feedback</a>
</div>

<div class="legal">
  <p>site design / logo © 2015 Stack Exchange Inc; user contributions licensed under cc by-sa 3.0 with attribution required</p>
  <p>rev 2015.9.15.2824</p>
</div>
